@model leave_management.Models.MyLeaveVM

@{
    ViewData["Title"] = "MyLeave";
}

<h1>Leace Allocations</h1>
<div class="card" style="width: 18rem">
    <ul class="list-group list-group-flush">
        @foreach (var item in Model.LeaveAllocations)
        {
            <li class="list-group-item">
                <h6>@item.LeaveType.Name <span class="badge badge-info"> @item.NumberOfDays</span></h6>
            </li>
        }
    </ul>
</div>
<br />
<br />
<hr />
<h2 class="text-info">My Leave Records</h2>
<table class="table" id="tblData">
    <thead>
        <tr>
            <th>
                Leave Type
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>

            <th>
                Date Requested
            </th>

            <th>
                Approval Status
            </th>
            <th>
                Cancel Request
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LeaveRequestVMs)
        {
            <tr>
                <td>
                    @item.LeaveType.Name
                </td>
                <td>
                    @item.StartDate
                </td>
                <td>
                    @item.EndDate
                </td>
                <td>
                    @item.DateRequested
                </td>
                <td>
                    @if (item.Approved == true)
                    {
                        <span class="badge badge-success">Approved</span>
                    }
                    else if (item.Approved == false)
                    {
                        <span class="badge badge-danger">Rejected</span>
                    }
                    else
                    {
                        <span class="badge badge-warning">Pending</span>
                    }
                </td>

                <td>
                    @if (item.Approved == null || item.Approved == false)
                    {
                        <a asp-action="CancelRequestEmployee" asp-route-id="@item.Id" class="btn btn-danger">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    }
                </td>

            </tr>
        }
    </tbody>
</table>
